body {
  margin: 0;
  font-size: 16px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

header {
  padding: 30px 60px;
}

section {
  margin: 0;
}

#logo {
  text-align: left;
  margin-top: -5px;
}

#menu {
  float: right;
  text-align: right;
}
#menu ul {
  padding: 0;
  margin: 0;
}
#menu ul li {
  font-size: 18px;
  float: left;
  list-style: none;
  margin: 20px 40px 0px 40px;
  text-align: right;
  border-bottom: 3px solid white;
}
#menu ul li a {
  transition: 1s;
  text-decoration: none;
  color: black;
}
#menu ul li:hover {
  border-bottom: 3px solid black;
}

#introVideo {
  position: relative;
}

#contentVideo img {
  position: absolute;
  top: 33%;
  left: 15%;
  width: 33%;
  height: 50%;
}

#myVideo {
  width: 100%;
  height: 100%;
}

/* effect img */
.imageProduct {
  margin: 2rem 0 0;
  box-sizing: border-box;
}
.imageProduct img {
  width: 100%;
  height: 100%;
}

.ct-image {
  width: 100%;
  height: 0;
  background-color: white;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: 0.5s ease;
  text-align: center;
}
.ct-image .text {
  font-size: 20px;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.imageProduct:hover .ct-image {
  opacity: 0.8;
  bottom: 0;
  height: 100%;
}
.imageProduct:hover h3 {
  opacity: 0;
}
.imageProduct:hover .title-img {
  display: none;
}

.title-img {
  text-align: center;
  background-color: #ba7967;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
}

.title {
  text-align: center;
  margin: 3rem;
}

.about-us {
  background-color: #fabea7;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}
.about-us div:first-child {
  text-align: center;
}

.aboutDetail {
  height: 100%;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  box-sizing: border-box;
}
.aboutDetail h3 {
  font-size: 2rem;
}
.aboutDetail p {
  font-size: 1.5rem;
}

.info-service {
  background: #ba7967;
  padding: 80px 0px;
  text-align: left;
  color: white;
}

.info-service i {
  font-size: 60px;
  color: white;
}

.info-service .row {
  width: 80%;
  margin: 0 auto;
}
.info-service .row p {
  font-size: 1rem;
}

.info-product {
  margin: 50px auto;
}

.info-item:hover i {
  color: #fabea7;
}

.list-footer, #last-footer {
  list-style: none;
}

.list-footer i, #last-footer i {
  margin-right: 12px;
  -webkit-animation: font-size 2s;
  color: #d9d9d9;
}

.list-footer i:hover, #last-footer i:hover {
  font-size: 30px;
  color: white;
}

.list-footer li, #last-footer li {
  font-weight: normal;
  margin-top: 10px;
  color: #d9d9d9;
}

.list-footer li:first-child, #last-footer li:first-child {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}

.list-footer li a, #last-footer li a {
  color: #d9d9d9;
}

.list-footer li a:hover, #last-footer li a:hover {
  text-decoration: none;
  color: white;
  margin-left: 5px;
}

#footer {
  background: #323232;
  color: white;
  padding: 50px 80px;
}

.input-email input,
.input-email button {
  background: none;
  border: 1px solid white;
  padding: 10px 10px;
  font-size: 16px;
  color: white;
}

.input-email input i,
.input-email button i {
  font-size: 16px;
  -webkit-animation: font-size 1;
}

.input-email input i:hover,
.input-email button i:hover {
  font-size: 22px;
}

.input-email input {
  border-right: none;
  width: 70%;
}

#last-footer {
  height: 60px;
  line-height: 60px;
  background-color: black;
  color: white;
}

#last-footer i {
  font-size: 24px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  box-sizing: border-box;
  padding: 8px 8px 8px 7%;
  text-decoration: none;
  font-size: 1.5rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #fabea7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ba7967;
}

@media (max-width: 1025px) {
  header {
    padding: 5%;
  }

  #logo {
    text-align: center;
  }

  #menu ul {
    padding: 0;
    margin-top: 1rem;
  }
  #menu ul li {
    font-size: 1rem;
    float: left;
    list-style: none;
    margin: 0.4rem;
    text-align: left;
    border-bottom: 3px solid white;
  }
  #menu ul li a {
    transition: 1s;
    text-decoration: none;
    color: black;
  }

  .about-us img {
    display: none;
  }

  .about-us p {
    font-size: 1rem;
    margin: 0.5rem;
  }

  .info-item {
    text-align: center;
  }

  .info-service {
    background: #ba7967;
    padding: 0.5rem 0px;
    text-align: left;
    color: white;
  }

  .info-service i {
    font-size: 3rem;
    color: white;
  }

  .info-service .row {
    width: 100%;
    margin: 5px auto;
  }
  .info-service .row p {
    font-size: 1rem;
  }

  .info-product {
    margin: 2rem auto;
  }

  .list-footer i, #last-footer i {
    margin-right: 5px;
    -webkit-animation: font-size 2s;
    color: #d9d9d9;
  }

  .list-footer i:hover, #last-footer i:hover {
    font-size: 1rem;
    color: white;
  }

  .list-footer li, #last-footer li {
    font-weight: normal;
    margin-top: 10px;
    color: #d9d9d9;
  }

  .list-footer li:first-child, #last-footer li:first-child {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: white;
  }

  .list-footer li a:hover, #last-footer li a:hover {
    text-decoration: none;
    color: white;
    margin-left: 5px;
  }

  #footer {
    background: #323232;
    color: white;
    padding: 0;
  }

  .input-email input,
.input-email button {
    background: none;
    border: 1px solid white;
    padding: 10px 10px;
    font-size: 16px;
    color: white;
  }

  .input-email input i,
.input-email button i {
    font-size: 1rem;
    -webkit-animation: font-size 1;
  }

  .input-email input i:hover,
.input-email button i:hover {
    font-size: 1.2rem;
  }

  .input-email input {
    border-right: none;
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
